<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camelot.order.dao.NewNotBuyDAO">
	<!-- 返回值映射map -->
	<resultMap id="newNotBuyDomain" type="com.camelot.order.domain.NewNotBuyDomain">
			<result property="notBuyId" column="not_buy_id" />
			<result property="customerId" column="customer_id" />
			<result property="customerPhoneNumber" column="customer_phone_number" />
			<result property="customerName" column="customer_name" />
			<result property="customerSourceId" column="customer_source_id" />
			<result property="customerSourceNumber" column="customer_source_number" />
			<result property="customerSourceName" column="customer_source_name" />
			<result property="vehicleSecondCategoryId" column="vehicle_second_category_id" />
			<result property="vehicleSecondCategoryNumber" column="vehicle_second_category_number" />
			<result property="vehicleSecondCategoryName" column="vehicle_second_category_name" />
			<result property="vehicleThirdCategoryId" column="vehicle_third_category_id" />
			<result property="vehicleThirdCategoryNumber" column="vehicle_third_category_number" />
			<result property="vehicleThirdCategoryName" column="vehicle_third_category_name" />
			<result property="firstOrgId" column="first_org_id" />
			<result property="firstOrgNumber" column="first_org_number" />
			<result property="firstOrgName" column="first_org_name" />
			<result property="secondOrgId" column="second_org_id" />
			<result property="secondOrgNumber" column="second_org_number" />
			<result property="secondOrgName" column="second_org_name" />
			<result property="thirdOrgId" column="third_org_id" />
			<result property="thirdOrgNumber" column="third_org_number" />
			<result property="thirdOrgName" column="third_org_name" />
			<result property="partnerId" column="partner_id" />
			<result property="partnerNumber" column="partner_number" />
			<result property="partnerName" column="partner_name" />
			<result property="traderId" column="trader_id" />
			<result property="traderNumber" column="trader_number" />
			<result property="traderName" column="trader_name" />
			<result property="storeId" column="store_id" />
			<result property="storeNumber" column="store_number" />
			<result property="storeName" column="store_name" />
			<result property="notBuyReasonId" column="not_buy_reason_id" />
			<result property="notBuyReasonNumber" column="not_buy_reason_number" />
			<result property="notBuyReasonName" column="not_buy_reason_name" />
			<result property="delFlg" column="del_flg" />
			<result property="createUserId" column="create_user_id" />
			<result property="createUserName" column="create_user_name" />
			<result property="createDate" column="create_date" />
	</resultMap>
	

	<!-- 查询数量公共sql -->
	<sql id="total_size">
		select count(1) from t_new_not_buy
	</sql>
	
	<!-- 查询字段公共sql -->
	<sql id="select_all">
		<![CDATA[
		SELECT
			 not_buy_id, 
			 customer_id, 
			 customer_phone_number, 
			 customer_name, 
			 customer_source_id, 
			 customer_source_number, 
			 customer_source_name, 
			 vehicle_second_category_id, 
			 vehicle_second_category_number, 
			 vehicle_second_category_name, 
			 vehicle_third_category_id, 
			 vehicle_third_category_number, 
			 vehicle_third_category_name, 
			 first_org_id, 
			 first_org_number, 
			 first_org_name, 
			 second_org_id, 
			 second_org_number, 
			 second_org_name, 
			 third_org_id, 
			 third_org_number, 
			 third_org_name, 
			 partner_id, 
			 partner_number, 
			 partner_name, 
			 trader_id, 
			 trader_number, 
			 trader_name, 
			 store_id, 
			 store_number, 
			 store_name, 
			 not_buy_reason_id, 
			 not_buy_reason_number, 
			 not_buy_reason_name, 
			 del_flg, 
			 create_user_id, 
			 create_user_name, 
			 create_date 
			FROM t_new_not_buy
		]]>
	</sql>

	<sql id="where">
		where 1=1
		<if test = "notBuyId != null ">
		<![CDATA[ and not_buy_id  = #{notBuyId} ]]>
	</if>
		<if test = "customerId != null ">
		<![CDATA[ and customer_id  = #{customerId} ]]>
	</if>
		<if test = "customerPhoneNumber != null ">
		<![CDATA[ and customer_phone_number  = #{customerPhoneNumber} ]]>
	</if>
		<if test = "customerName != null ">
		<![CDATA[ and customer_name  = #{customerName} ]]>
	</if>
		<if test = "customerSourceId != null ">
		<![CDATA[ and customer_source_id  = #{customerSourceId} ]]>
	</if>
		<if test = "customerSourceNumber != null ">
		<![CDATA[ and customer_source_number  = #{customerSourceNumber} ]]>
	</if>
		<if test = "customerSourceName != null ">
		<![CDATA[ and customer_source_name  = #{customerSourceName} ]]>
	</if>
		<if test = "vehicleSecondCategoryId != null ">
		<![CDATA[ and vehicle_second_category_id  = #{vehicleSecondCategoryId} ]]>
	</if>
		<if test = "vehicleSecondCategoryNumber != null ">
		<![CDATA[ and vehicle_second_category_number  = #{vehicleSecondCategoryNumber} ]]>
	</if>
		<if test = "vehicleSecondCategoryName != null ">
		<![CDATA[ and vehicle_second_category_name  = #{vehicleSecondCategoryName} ]]>
	</if>
		<if test = "vehicleThirdCategoryId != null ">
		<![CDATA[ and vehicle_third_category_id  = #{vehicleThirdCategoryId} ]]>
	</if>
		<if test = "vehicleThirdCategoryNumber != null ">
		<![CDATA[ and vehicle_third_category_number  = #{vehicleThirdCategoryNumber} ]]>
	</if>
		<if test = "vehicleThirdCategoryName != null ">
		<![CDATA[ and vehicle_third_category_name  = #{vehicleThirdCategoryName} ]]>
	</if>
		<if test = "firstOrgId != null ">
		<![CDATA[ and first_org_id  = #{firstOrgId} ]]>
	</if>
		<if test = "firstOrgNumber != null ">
		<![CDATA[ and first_org_number  = #{firstOrgNumber} ]]>
	</if>
		<if test = "firstOrgName != null ">
		<![CDATA[ and first_org_name  = #{firstOrgName} ]]>
	</if>
		<if test = "secondOrgId != null ">
		<![CDATA[ and second_org_id  = #{secondOrgId} ]]>
	</if>
		<if test = "secondOrgNumber != null ">
		<![CDATA[ and second_org_number  = #{secondOrgNumber} ]]>
	</if>
		<if test = "secondOrgName != null ">
		<![CDATA[ and second_org_name  = #{secondOrgName} ]]>
	</if>
		<if test = "thirdOrgId != null ">
		<![CDATA[ and third_org_id  = #{thirdOrgId} ]]>
	</if>
		<if test = "thirdOrgNumber != null ">
		<![CDATA[ and third_org_number  = #{thirdOrgNumber} ]]>
	</if>
		<if test = "thirdOrgName != null ">
		<![CDATA[ and third_org_name  = #{thirdOrgName} ]]>
	</if>
		<if test = "partnerId != null ">
		<![CDATA[ and partner_id  = #{partnerId} ]]>
	</if>
		<if test = "partnerNumber != null ">
		<![CDATA[ and partner_number  = #{partnerNumber} ]]>
	</if>
		<if test = "partnerName != null ">
		<![CDATA[ and partner_name  = #{partnerName} ]]>
	</if>
		<if test = "traderId != null ">
		<![CDATA[ and trader_id  = #{traderId} ]]>
	</if>
		<if test = "traderNumber != null ">
		<![CDATA[ and trader_number  = #{traderNumber} ]]>
	</if>
		<if test = "traderName != null ">
		<![CDATA[ and trader_name  = #{traderName} ]]>
	</if>
		<if test = "storeId != null and storeId != '' ">
		<![CDATA[ and store_id  = #{storeId} ]]>
	</if>
		<if test = "storeNumber != null and storeNumber != '' ">
		<![CDATA[ and store_number like CONCAT('%', #{storeNumber}, '%') ]]>
	</if>
		<if test = "storeName != null and storeName != '' ">
		<![CDATA[ and store_name like CONCAT('%', #{storeName}, '%') ]]>
	</if>
		<if test = "notBuyReasonId != null ">
		<![CDATA[ and not_buy_reason_id  = #{notBuyReasonId} ]]>
	</if>
		<if test = "notBuyReasonNumber != null ">
		<![CDATA[ and not_buy_reason_number  = #{notBuyReasonNumber} ]]>
	</if>
		<if test = "notBuyReasonName != null ">
		<![CDATA[ and not_buy_reason_name  = #{notBuyReasonName} ]]>
	</if>
		<if test = "delFlg != null ">
		<![CDATA[ and del_flg  = #{delFlg} ]]>
	</if>
		<if test = "createUserId != null ">
		<![CDATA[ and create_user_id  = #{createUserId} ]]>
	</if>
		<if test = "createUserName != null ">
		<![CDATA[ and create_user_name  = #{createUserName} ]]>
	</if>
		<if test = "createDate != null ">
		<![CDATA[ and create_date  = #{createDate} ]]>
	</if>
	<if test="startCreateDate != null ">
        <![CDATA[ AND TO_DAYS(create_date) >= TO_DAYS(#{startCreateDate}) ]]>
    </if>
    <if test="endCreateDate != null ">
        <![CDATA[ AND TO_DAYS(create_date) <= TO_DAYS(#{endCreateDate}) ]]>
    </if>
	<if test = "orgList != null ">
		and third_org_id IN
		<foreach item="item" index="index" collection="orgList" open="(" separator="," close=")">
			#{item}
		</foreach>
	</if>
	<if test = "storeList != null ">
		and store_id IN
		<foreach item="item" index="index" collection="storeList" open="(" separator="," close=")">
			#{item}
		</foreach>
	</if>
	</sql>

	<select id="queryList" resultMap="newNotBuyDomain" >
		<include refid="select_all"/>
		<include refid="where" />
		ORDER BY create_date DESC
	</select>
	
	
	<select id="queryCount" resultType="long">
		<include refid="total_size"></include>
		<include refid="where"></include>
	</select>
	
	<!-- 查询单个实体 -->
	<select id="queryDomain" resultMap="newNotBuyDomain" >
		<include refid="select_all"/>
		<include refid="where" />
	</select>
	<select id="queryById" resultMap="newNotBuyDomain" >
		<include refid="select_all"/>
		where not_buy_id= #{id}
	</select>
	
	<!-- 新增 -->
	<insert id="add"  parameterType="com.camelot.order.domain.NewNotBuyDomain">
		insert into t_new_not_buy(
				not_buy_id,
				customer_id,
				customer_phone_number,
				customer_name,
				customer_source_id,
				customer_source_number,
				customer_source_name,
				vehicle_second_category_id,
				vehicle_second_category_number,
				vehicle_second_category_name,
				vehicle_third_category_id,
				vehicle_third_category_number,
				vehicle_third_category_name,
				first_org_id,
				first_org_number,
				first_org_name,
				second_org_id,
				second_org_number,
				second_org_name,
				third_org_id,
				third_org_number,
				third_org_name,
				partner_id,
				partner_number,
				partner_name,
				trader_id,
				trader_number,
				trader_name,
				store_id,
				store_number,
				store_name,
				not_buy_reason_id,
				not_buy_reason_number,
				not_buy_reason_name,
				del_flg,
				create_user_id,
				create_user_name,
				create_date
		)values(
				#{notBuyId},
				#{customerId},
				#{customerPhoneNumber},
				#{customerName},
				#{customerSourceId},
				#{customerSourceNumber},
				#{customerSourceName},
				#{vehicleSecondCategoryId},
				#{vehicleSecondCategoryNumber},
				#{vehicleSecondCategoryName},
				#{vehicleThirdCategoryId},
				#{vehicleThirdCategoryNumber},
				#{vehicleThirdCategoryName},
				#{firstOrgId},
				#{firstOrgNumber},
				#{firstOrgName},
				#{secondOrgId},
				#{secondOrgNumber},
				#{secondOrgName},
				#{thirdOrgId},
				#{thirdOrgNumber},
				#{thirdOrgName},
				#{partnerId},
				#{partnerNumber},
				#{partnerName},
				#{traderId},
				#{traderNumber},
				#{traderName},
				#{storeId},
				#{storeNumber},
				#{storeName},
				#{notBuyReasonId},
				#{notBuyReasonNumber},
				#{notBuyReasonName},
				#{delFlg},
				#{createUserId},
				#{createUserName},
				#{createDate}
		)
	</insert>
	<!-- 编辑 -->
	<update id="update" parameterType="com.camelot.order.domain.NewNotBuyDomain">
		update t_new_not_buy
			<set>
				<if test = "notBuyId != null ">
					not_buy_id = #{notBuyId},
				</if>
				<if test = "customerId != null ">
					customer_id = #{customerId},
				</if>
				<if test = "customerPhoneNumber != null ">
					customer_phone_number = #{customerPhoneNumber},
				</if>
				<if test = "customerName != null ">
					customer_name = #{customerName},
				</if>
				<if test = "customerSourceId != null ">
					customer_source_id = #{customerSourceId},
				</if>
				<if test = "customerSourceNumber != null ">
					customer_source_number = #{customerSourceNumber},
				</if>
				<if test = "customerSourceName != null ">
					customer_source_name = #{customerSourceName},
				</if>
				<if test = "vehicleSecondCategoryId != null ">
					vehicle_second_category_id = #{vehicleSecondCategoryId},
				</if>
				<if test = "vehicleSecondCategoryNumber != null ">
					vehicle_second_category_number = #{vehicleSecondCategoryNumber},
				</if>
				<if test = "vehicleSecondCategoryName != null ">
					vehicle_second_category_name = #{vehicleSecondCategoryName},
				</if>
				<if test = "vehicleThirdCategoryId != null ">
					vehicle_third_category_id = #{vehicleThirdCategoryId},
				</if>
				<if test = "vehicleThirdCategoryNumber != null ">
					vehicle_third_category_number = #{vehicleThirdCategoryNumber},
				</if>
				<if test = "vehicleThirdCategoryName != null ">
					vehicle_third_category_name = #{vehicleThirdCategoryName},
				</if>
				<if test = "firstOrgId != null ">
					first_org_id = #{firstOrgId},
				</if>
				<if test = "firstOrgNumber != null ">
					first_org_number = #{firstOrgNumber},
				</if>
				<if test = "firstOrgName != null ">
					first_org_name = #{firstOrgName},
				</if>
				<if test = "secondOrgId != null ">
					second_org_id = #{secondOrgId},
				</if>
				<if test = "secondOrgNumber != null ">
					second_org_number = #{secondOrgNumber},
				</if>
				<if test = "secondOrgName != null ">
					second_org_name = #{secondOrgName},
				</if>
				<if test = "thirdOrgId != null ">
					third_org_id = #{thirdOrgId},
				</if>
				<if test = "thirdOrgNumber != null ">
					third_org_number = #{thirdOrgNumber},
				</if>
				<if test = "thirdOrgName != null ">
					third_org_name = #{thirdOrgName},
				</if>
				<if test = "partnerId != null ">
					partner_id = #{partnerId},
				</if>
				<if test = "partnerNumber != null ">
					partner_number = #{partnerNumber},
				</if>
				<if test = "partnerName != null ">
					partner_name = #{partnerName},
				</if>
				<if test = "traderId != null ">
					trader_id = #{traderId},
				</if>
				<if test = "traderNumber != null ">
					trader_number = #{traderNumber},
				</if>
				<if test = "traderName != null ">
					trader_name = #{traderName},
				</if>
				<if test = "storeId != null ">
					store_id = #{storeId},
				</if>
				<if test = "storeNumber != null ">
					store_number = #{storeNumber},
				</if>
				<if test = "storeName != null ">
					store_name = #{storeName},
				</if>
				<if test = "notBuyReasonId != null ">
					not_buy_reason_id = #{notBuyReasonId},
				</if>
				<if test = "notBuyReasonNumber != null ">
					not_buy_reason_number = #{notBuyReasonNumber},
				</if>
				<if test = "notBuyReasonName != null ">
					not_buy_reason_name = #{notBuyReasonName},
				</if>
				<if test = "delFlg != null ">
					del_flg = #{delFlg},
				</if>
				<if test = "createUserId != null ">
					create_user_id = #{createUserId},
				</if>
				<if test = "createUserName != null ">
					create_user_name = #{createUserName},
				</if>
				<if test = "createDate != null ">
					create_date = #{createDate}
				</if>
			</set>
		where not_buy_id= #{notBuyId}
	</update>
	

	<delete id="delete">
		delete from t_new_not_buy
		<if test = "notBuyId != null ">
			where not_buy_id= #{notBuyId}
		</if>
		<if test = "notBuyId == null ">
			where 1 = 3
		</if>
	</delete>
	<!-- 查询未购买上报统计信息 -->
	<select id="queryListNotBuyTotal" resultType="java.util.HashMap" >
        select 
            COUNT(1) 'notBuyAmount',
            store_id 'storeId',
            store_number 'storeNumber',
            store_name 'storeName'
        from t_new_not_buy 
        <include refid="where" />
        GROUP BY store_name
    </select>
    <!-- 消费者来源分析信息 -->
    <select id="queryListCustomerSource" resultType="java.util.HashMap" >
        select 
            COUNT(1) 'amount',
            customer_source_name 'name'
        from t_new_not_buy 
        <include refid="where" />
        and customer_source_id IS NOT NULL and customer_source_id != ''
        GROUP BY customer_source_name
    </select>
    <!-- 未购买原因分析信息 -->
    <select id="queryListNotBuyCause" resultType="java.util.HashMap" >
        select 
            COUNT(1) 'amount',
            not_buy_reason_name 'name'
        from t_new_not_buy 
        <include refid="where" />
        GROUP BY not_buy_reason_name
    </select>
	
</mapper>