<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.camelot.order.dao.ReceiptRecordDAO">
	<!-- 返回值映射map -->
	<resultMap id="receiptRecordDomain" type="com.camelot.order.domain.ReceiptRecordDomain">
			<result property="receiptRecordId" column="receipt_record_id" />
			<result property="receiptRecordNumber" column="receipt_record_number" />
			<result property="receiptSerialNumber" column="receipt_serial_number" />
			<result property="salesOrderId" column="sales_order_id" />
			<result property="receiptAmount" column="receipt_amount" />
			<result property="paymentChannel" column="payment_channel" />
			<result property="paymentStatus" column="payment_status" />
			<result property="delFlg" column="del_flg" />
			<result property="createUserId" column="create_user_id" />
			<result property="updateUserId" column="update_user_id" />
			<result property="createDate" column="create_date" />
			<result property="modifyDate" column="modify_date" />
	</resultMap>
	

	<!-- 查询数量公共sql -->
	<sql id="total_size">
		select count(1) from t_receipt_record
	</sql>
	
	<!-- 查询字段公共sql -->
	<sql id="select_all">
		<![CDATA[
		SELECT
			 receipt_record_id, 
			 receipt_record_number, 
			 receipt_serial_number, 
			 sales_order_id, 
			 receipt_amount, 
			 payment_channel, 
			 payment_status, 
			 del_flg, 
			 create_user_id, 
			 update_user_id, 
			 create_date, 
			 modify_date 
			FROM t_receipt_record
		]]>
	</sql>
	
	<sql id="order">
		ORDER BY modify_date DESC
	</sql>
	
	<sql id="where">
		where 1=1
		<if test = "receiptRecordId != null "> 
		<![CDATA[ and receipt_record_id  = #{receiptRecordId} ]]>
	</if>
		<if test = "receiptRecordNumber != null and receiptRecordNumber != ''"> 
		<![CDATA[ and receipt_record_number  = #{receiptRecordNumber} ]]>
	</if>
		<if test = "receiptSerialNumber != null and receiptSerialNumber != '' "> 
		<![CDATA[ and receipt_serial_number  = #{receiptSerialNumber} ]]>
	</if>
		<if test = "salesOrderId != null "> 
		<![CDATA[ and sales_order_id  = #{salesOrderId} ]]>
	</if>
		<if test = "receiptAmount != null "> 
		<![CDATA[ and receipt_amount  = #{receiptAmount} ]]>
	</if>
		<if test = "paymentChannel != null and paymentChannel != 0"> 
		<![CDATA[ and payment_channel  = #{paymentChannel} ]]>
	</if>
		<if test = "paymentStatus != null and paymentStatus != 0"> 
		<![CDATA[ and payment_status  = #{paymentStatus} ]]>
	</if>
		<if test = "delFlg != null "> 
		<![CDATA[ and del_flg  = #{delFlg} ]]>
	</if>
		<if test = "createUserId != null "> 
		<![CDATA[ and create_user_id  = #{createUserId} ]]>
	</if>
		<if test = "updateUserId != null "> 
		<![CDATA[ and update_user_id  = #{updateUserId} ]]>
	</if>
		<if test = "createDate != null "> 
		<![CDATA[ and create_date  = #{createDate} ]]>
	</if>
		<if test = "modifyDate != null "> 
		<![CDATA[ and modify_date  = #{modifyDate} ]]>
	</if>
		<if test="beginSearchDate != null ">
		<![CDATA[ AND create_date >= #{beginSearchDate} ]]>
	</if>
		<if test="endSearchDate != null ">
		<![CDATA[ AND create_date <= date_sub(#{endSearchDate},interval -1 day) ]]>
	</if>
		<if test="salesOrderIdList != null and salesOrderIdList.size()>0">
			AND sales_order_id in
			<foreach collection="salesOrderIdList" index="index" item="item" open="(" separator="," close=")">
               	#{item}       
       		</foreach> 
	</if>
	</sql>

	<select id="queryList" resultMap="receiptRecordDomain" >
		<include refid="select_all"/>
		<include refid="where" />
		<include refid="order" />
	</select>
	
	
	<select id="queryCount" resultType="long">
		<include refid="total_size"></include>
		<include refid="where"></include>
	</select>
	
	<!-- 查询单个实体 -->
	<select id="queryDomain" resultMap="receiptRecordDomain" >
		<include refid="select_all"/>
		<include refid="where" />
	</select>
	<select id="queryById" resultMap="receiptRecordDomain" >
		select * from t_receipt_record
			 where receipt_record_id= #{id}
	</select>
	
	<!-- 新增 -->
	<insert id="add"  parameterType="com.camelot.order.domain.ReceiptRecordDomain">
		insert into t_receipt_record(
				receipt_record_id,
				receipt_record_number,
				receipt_serial_number,
				sales_order_id,
				receipt_amount,
				payment_channel,
				payment_status,
				del_flg,
				create_user_id,
				update_user_id,
				create_date,
				modify_date
		)values(
				#{receiptRecordId},
				#{receiptRecordNumber},
				#{receiptSerialNumber},
				#{salesOrderId},
				#{receiptAmount},
				#{paymentChannel},
				#{paymentStatus},
				#{delFlg},
				#{createUserId},
				#{updateUserId},
				#{createDate},
				#{modifyDate}
		)
	</insert>
	<!-- 编辑 -->
	<update id="update" parameterType="com.camelot.order.domain.ReceiptRecordDomain">
		update t_receipt_record
			<set>
				<if test = "receiptRecordId != null ">
					receipt_record_id = #{receiptRecordId},
				</if>
				<if test = "receiptRecordNumber != null ">
					receipt_record_number = #{receiptRecordNumber},
				</if>
				<if test = "receiptSerialNumber != null ">
					receipt_serial_number = #{receiptSerialNumber},
				</if>
				<if test = "salesOrderId != null ">
					sales_order_id = #{salesOrderId},
				</if>
				<if test = "receiptAmount != null ">
					receipt_amount = #{receiptAmount},
				</if>
				<if test = "paymentChannel != null ">
					payment_channel = #{paymentChannel},
				</if>
				<if test = "paymentStatus != null ">
					payment_status = #{paymentStatus},
				</if>
				<if test = "delFlg != null ">
					del_flg = #{delFlg},
				</if>
				<if test = "createUserId != null ">
					create_user_id = #{createUserId},
				</if>
				<if test = "updateUserId != null ">
					update_user_id = #{updateUserId},
				</if>
				<if test = "createDate != null ">
					create_date = #{createDate},
				</if>
				<if test = "modifyDate != null ">
					modify_date = #{modifyDate}
				</if>
			</set>
		where receipt_record_id= #{receiptRecordId}
	</update>
	

	<delete id="delete">
		delete from t_receipt_record
		<if test = "receiptRecordId != null ">
			where receipt_record_id= #{id}
		</if>
		<if test = "receiptRecordId == null ">
			where 1 = 3
		</if>
	</delete>
	
	<select id="getMaxReceiptRecordNumber" resultType="java.lang.String">
		select MAX(RIGHT(receipt_record_number,5)) from t_receipt_record
		where create_date like CONCAT(#{nowDate}, '%')
	</select>
	
</mapper>